<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linkitsoft.kioskproject">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.usb.host" />

    <application
        android:allowBackup="true"
        android:name=".kioskApplication"
        android:icon="@drawable/launchericon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/launchericon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Transparent">
        <activity android:name=".Configration">
        </activity>
        <activity
            android:name=".Login"
            android:screenOrientation="landscape">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.HOME" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".Thankyou"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SelectOption"
            android:screenOrientation="landscape">

        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape" >

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />

        </activity>
    </application>

</manifest>